body 
	font-family: "Lato", sans-serif
	background: #000

.tab 
	overflow: hidden
	margin-left: 100px
.tab
	button 
		background-color: #fff
		float: left
		border: none
		outline: none
		cursor: pointer
		padding: 14px 16px
		transition: 0.3s
		font-size: 17px
		button.active 
			background-color: #ccc
.tabcontent 
	display: none
	padding: 20px 12px
	border-top: none
	text-align: center
	h1
		color: #95D6E8
		margin: auto
		font-size: 2em
	h2
		padding: 10px
		color: #95D6E8
		font-size: 6em
		margin: auto
	.botones
		float: right
		margin-right: 200px
		margin-top: 100px
		.play
			background: #000
			color: #13F308
			border: 2px solid #13F308
			font-size: 1.1em
			display: block
			margin-bottom: 10px
			width: 100px
		.stop
			background: #000
			color: #F30808
			border: 2px solid #F30808
			font-size: 1.1em
			display: block
			width: 100px

.counter-value
	position: absolute
	transform-origin: 0 100%
	overflow: hidden
	padding-right: 30px
	height: 1em

.counter-value-mask
	position: absolute
	transform-origin: 0 100%
	overflow: hidden
	line-height: 1em
