<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="UTF-8">
    <title>Interfaz</title>
    <link rel="stylesheet" href="css/estilos.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>

<body ng-controller="Nuevo">
    <div class="tab">
        <button class="tablinks active" onclick="openCity(event, 'pestaña')" style="color:white;">Inicio</button>

        <button class="tablinks" onclick="openCity(event, 'pestaña2')" style="color:white;">Contador</button>
    </div>
    <audio id="audio" src="" autoplay="false"></audio>
    <div id="pestaña" class="tabcontent" style="display:block;padding-top:0px;padding-bottom: 0px;">
        <h1 style="color:gold; font-size:80px;">SOCIOS REGISTRADOS</h1>
        <h2 id="s" style="color:white; font-size:250px; padding-bottom:0%; padding-top:0%;"></h2>
    </div>
    <img src="img/logo.jpeg" alt="" style="margin-top: 0px;width: 15%;height: 22%;display: block;margin: 0 auto;">
    <div id="pestaña2" class="tabcontent" style="display: none; padding-top:-155px;">
    	 <form id="login-form" style="padding-top: 10px;"> 
			<input id="userName" type="text" placeholder="Enter Username" value=""/>
			<input id="userPw" type="password" placeholder="Enter Password" value=""/>
			<input id="login_btn" type="submit" value="Login" ng-click="check()"/> 
		</form>
		<div class="objetos" style="display: none;">
			<h1 style="color:gold;">SOCIOS REGISTRADOS</h1>
			<h2 id="ss" style="color:white; padding: 20px 12px;"></h2>
			<div class="" id="texto" style="color: #FFF;"></div>
			<div class="botones">
				<input type="button" class="play" id="inicio" value="Start &#9658;" ng-click="inicio()">
				<input type="button" class="stop" id="parar" value="Stop &#8718;" ng-click="parar()">
				<input type="button" class="stop" id="parar" value="Reset &#8635;" ng-click="reset()">
				<input type="text" id="tiempo" value="50" style="margin-top:5%">
			</div>
		</div>
    </div>
	<audio src="audio.wav" id="conteo">
    <audio src="sound.ogg" id="myAudio">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/tabs.js"></script>
    <script type="text/javascript" src="js/cont.js"></script>
</body>
</html>