<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

</head>
<body ng-controller="Nuevo">
	<h1 style="color:gold;">SOCIOS REGISTRADOS</h1>
	<h2 id="ss" style="color:white; padding: 20px 12px;"></h2>
	<div class="" id="texto" style="color: #FFFFFF;"></div>
	<div class="botones">
		<input type="button" class="play" id="inicio" value="Start &#9658;" ng-click="inicio()">
		<input type="button" class="stop" id="parar" value="Stop &#8718;" ng-click="parar()">
		<input type="text" id="tiempo" value="50" style="margin-top:5%">
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/tabs.js"></script>
	<script type="text/javascript" src="js/cont.js"></script>
</body>
</html>